@import "variables";
@import "fonts/style";

html {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #242729;
    background: #FFF;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: table;
    > * {
        display: table-row;
    }
}

.sensor-distance {
    text-align: center;
}

.joystick-container, .joystick {
    height: 100%;
    width: 100%;
    position: relative;
}

.bottom {
    text-align: center;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    .ic-loading {
        position: absolute;
        top: 100px - $ic-icon-size;
        left: 50%;
        margin-left: -$ic-icon-size / 2; 
        font-size: $ic-icon-size * 2;
        animation: rotate 0.8s infinite linear;
    }
    &.show {
        display: block;   
    } 
}

*, *:before, *:after {
    box-sizing: inherit;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}
